<div class="flex flex-col md:flex-row items-center border rounded-md overflow-hidden gap-4 mt-2 w-full">
  <img src="<%= movie.image_url %>" alt="movie" class="w-40 aspect-square">
  <div class="flex flex-col justify-center">
    <h1 class="text-5xl extreamer"><%= movie.title %></h1>
    <span class="text-2xl"><%= movie.rating %></span>
  </div>
</div>
