<button data-controller="dark-button" data-action="click->dark-button#toggle" class="relative w-4 h-4 flex justify-center items-center">
  <i class="fa-solid fa-moon absolute invisible dark:visible dark:static"></i>
  <i class="fa-regular fa-sun dark:invisible dark:absolute"></i>
</button>
