<button data-controller="dark-button" data-action="click->dark-button#toggle" class="relative h-full w-full">
  <i class="fa-solid fa-moon absolute invisible dark:visible"></i>
  <i class="fa-regular fa-sun absolute dark:invisible"></i>
</button>
