<div class="<%= class_name %>">
  <div class="relative w-fit rounded-full text-slate-200 border border-black bg-green-400 h-48 p-3">
    <svg class="h-full animate-spin-slow" viewBox="0 0 100 100" overflow="visible">
      <path id="curve-wnxkz4" d="M 0 50 L 0 50 A 1 1 0 0 1 100 50 L 100 50 L 100 50 A 1 1 0 0 1 0 50 L 0 50" stroke-width="none" fill="transparent">
      </path>
      <text>
        <textPath href="#curve-wnxkz4" startOffset="0" dominant-baseline="Hanging" style="font-size:8px;font-family:Inter;font-weight:900;word-spacing:2px;letter-spacing:4px;fill: black;)">
          ✦ TAY LE ✦ FULLSTACK RUBY ON RAILS
        </textPath>
      </text>
    </svg>

    <%= image_tag "avt.jpg", class: "h-2/3 w-2/3 absolute object-cover rounded-full top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2" %>
  </div>
</div>
