<div class="border rounded p-2 shrink-0 grow">
  <h1 class="text-2xl bold p-2"><%= t ".#{key}" %></h1>
  <ul data-controller="examples--sortable"
      data-status="<%= key %>"
      class="flex flex-col gap-2 w-full h-full"
  >
    <%= render partial: "examples/sortable/task", collection: tasks %>
  </ul>
</div>
