<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-2 w-full">
  <% Examples::Task.statuses.keys.each do |key| %>
    <%= render "examples/sortable/task_by_status", key: key, tasks: @task_by_status[key] %>
  <% end %>
</div>
